{% extends "logged_in.html" %}
	{% block style %}
	{% endblock %}

	{% block content %}
  <h3>¡Solicitud enviada!</h3>
  <ul class="list-group">
    <li class="list-group-item"><a href="/">Volver al inicio</li>
  </ul>
	{% endblock %}
