{% extends base %}

{% block style %}
<style>
div.jQBracket .team{
    background-color: #60C0DC !important;
}
div.jQBracket .team.highlight{
    background-color: #91D3E5 !important;
}
div.jQBracket .team.win{
   background-color: #EEAC57 !important; 
}
div.jQBracket .label.editable input{
    color: #000;
}
div.jQBracket .label{
    font-size: 10pt;
}
</style>
{% endblock %}
{% block content %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h2>Bracket: {{event.name}}</h2>
                <button onClick="saveBracket()" type="button" class="btn btn-success">Guardar</button>
            </div>
            <div class="col-md-4">
                
                
                
            </div>
        </div>
    </div>
    <div style="overflow: auto;" class="row">
        <div id="doubleElimination">
            
        </div>        
    </div>
    
{% endblock %}
{% block scripts %}
    <script>

var bracketData = {}

function saveBracket(){
    console.log(bracketData);
    var bracketDataString = JSON.stringify(bracketData);
    var results = [
        $(".win>.bubble").not(".third").parent().children(".label").text(),
        $(".lose>.bubble").not(".fourth").parent().children(".label").text(),
        $(".win>.bubble.third").parent().children(".label").text(),
        $(".lose>.bubble.fourth").parent().children(".label").text()
    ];
    var resultsString = JSON.stringify(results);
    $.ajax({
        type: "POST",
        url: "/event/bracket/{{event.id}}",
        data: {'bracket': bracketDataString, 'results': resultsString},
        success: function(){console.log("exito")},
    });
}

var doubleEliminationData = {{event.bracket|safe}}
 
$(function() {
    $('div#doubleElimination').bracket({
        init: doubleEliminationData,
        teamWidth: 250,
        save: function(data){
            console.log("save")
            bracketData = data;
        }
      })
  })
    </script>
{% endblock %}