{% extends base %}

{% block style %}
<style>
div.jQBracket .team{
    background-color: #60C0DC !important;
}
div.jQBracket .team.highlight{
    background-color: #91D3E5 !important;
}
div.jQBracket .team.win{
   background-color: #EEAC57 !important; 
}
div.jQBracket .label.editable input{
    color: #000;
}
div.jQBracket .label{
    font-size: 10pt;
}
</style>
{% endblock %}
{% block content %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h2>{{event.name}}</h2>
                <p><i class="glyphicon glyphicon-map-marker"></i> {{event.venue}}</p>
                <p><i class="glyphicon glyphicon-calendar"></i> {{event.date}}</p>
                <p><i class="glyphicon glyphicon-knight"></i> {{event.game}}</p>
                
                <div class="divider"></div>
                <p>
                    {{event.description|safe}}
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="{{event.cover_image}}" alt="">
                <hr>
                {% if (session['organizer'] or session['admin']) %}
                <a href="/event/bracket/{{event.id}}"type="button" class="btn btn-success btn-block">Actualizar bracket</a>
                {% endif %}
                
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div style="overflow: auto;" class="row">
            <h2>Bracket</h2>
            <div id="doubleElimination">
                
            </div>        
        </div>
    </div>

    
{% endblock %}
{% block scripts %}
    <script>

 
$(function() {
    $('div#doubleElimination').bracket({
        init: {{event.bracket|safe}},
        teamWidth: 250,
      })
  })
    </script>
{% endblock %}