<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale-1">
	<meta name="description" content="Página de inicio de Salty Zone.">
	<meta name="author" content="Pablo Acevedo Z.">
	<title>Salty Zone</title>
	<!-- Bootstrap CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/css/basic-template.css" rel="stylesheet" />
	<link href="/static/jquery.bracket.min.css" rel="stylesheet" />
  {% block style %}
  {% endblock %}
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
					<span class="sr-only">Mostrar y Ocultar</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img class="brand" src="http://placekitten.com/g/200/200" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-container">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
					<li><a href="/ranking"><span class="glyphicon glyphicon-king"></span> Rankings</a></li>
				</ul>
        {% block login %}
        {% endblock %}
			</div>
		</div>
	</nav>
	<div class="container">
    {% block content %}
    {% block error %}
    {% endblock %}
		<div class="jumbotron">
			<h1>Salty Zone</h1>
			<p>Eventos, generador de brackets y rankings.</p>
			<p>
				<div class="input-group col-lg-6">
					<input type="text" class="form-control" placeholder="Por favor ingrese una búsqueda" />
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">Buscar</button>
					</span>
				</div>
			</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% for event in events %}
				<div class="media">
					<div class="row">
						<div class="col-md-4">
							<a href={{"/event/"+event.id|string}} class="pull-left">
								<img src="{{event.cover_image}}" alt="Imagen aleatoria" class="img-responsive" />
							</a>
						</div>
						<div class="col-md-8">
							<div class="media-body">
								<h4><a href={{"/event/"+event.id|string}}>{{event.name}}</a> - <em>{{event.date}}</em></h4>
								<p>
									{{ event.description|safe }}
								</p>
							</div>
						</div>
					</div>


				</div>
				{%endfor%}
			</div>
		</div>
    {% endblock %}
	</div>
	<!--
		Bootstrap javascript and jQuery should be loaded
		Placed at the end of the document for faster load times
	-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/static/jquery.bracket.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/validator.js"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>
