{% extends "layout.html" %}

{% block login %}
<p class="navbar-text">¡Bienvenido, {{ session['username'] }}!</p>
<a href="/profile" type="button" class="btn btn-info navbar-btn"><span class="glyphicon glyphicon-user"></span></a>
{% if session['admin'] %}
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-cog"></span> Administrar <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/manage/users">Administrar usuarios</a></li>
        <li><a href="/manage/games">Administrar juegos</a></li>
    </ul>
</div>
<a href="/log" type="button" class="btn btn-info navbar-btn"><span class="glyphicon glyphicon-th-list"></span> Registro de actividad</a>
{% endif %}
{% if (session['organizer'] or session['admin']) %}
<a href="/event/new" type="button" class="btn btn-warning navbar-btn"><span class="glyphicon glyphicon-plus-sign"></span> Crear evento</a>
{% endif %}
<a href="/logout" type="button" class="btn btn-danger navbar-btn">Cerrar sesión</a>
{% endblock %}
