{% extends "logged_in.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuarios
                    </h3>
                </div>
                <div class="panel-body">
                   
                <table class="table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>E-mail</th>
                    <th>Perfil</th>
                    <th>Administrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}} {{user.lastname}}</td>
                    <td>{{user.alta_date}}</td>
                    <td>{{user.email}}</td>
                    <td>{% if user.organizer %}<span class="label label-primary">Organizador</span>{% endif %}
                      {% if user.admin %}<span class="label label-danger">Administrador</span>{% endif %}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Opciones <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                            {% if user.admin %}<li><a href="/manage/users/remove/admin/{{user.id}}">Quitar perfil de administrador</a></li>{% else %}
                            <li><a href="/manage/users/grant/admin/{{user.id}}">Convertir en administrador</a></li>
                            {% endif %}
                            {% if user.organizer %}<li><a href="/manage/users/remove/organizer/{{user.id}}">Quitar perfil de organizador</a></li>{% else %}
                            <li><a href="/manage/users/grant/organizer/{{user.id}}">Convertir en organizador</a></li>
                            {% endif %}
                            <li><a href="/manage/users/remove/user/{{user.id}}">Dar de baja</a></li>
                            </ul>
                        </div>
                        {% if user.asked_for_organize %}
                        <a type="button" href="/manage/users/grant/organizer/{{user.id}}" class="btn btn-info">Aceptar solicitud de organizador</a>
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
