{% extends "logged_in.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Juegos
                    </h3>
                </div>
                <div class="panel-body">
                   
                <table class="table">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Nombre del juego</th>
                    <th>Fecha de creación</th>
                    <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                    <th scope="row">{{game.id}}</th>
                    <td>{{game.name}}</td>
                    <td>{{game.alta_date}}</td>
                    <td><img src="{{game.cover_image}}" alt="Imagen aleatoria" class="img-thumbnail img-responsive" /></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Opciones <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/game/disable/{{game.id}}">Desactivar</a></li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>

                </div>

            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Agregar juego
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="/game/new">
                    <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="event_name">Nombre del juego</label>
                        <div class="col-md-8">
                        <input id="event_name" name="game_name" type="text" placeholder="Nombre" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="event_name">URL Imagen</label>
                        <div class="col-md-8">
                        <input id="cover_image" name="game_image" type="text" placeholder="http://ejemplo.com/ejemplo.jpg" class="form-control input-md">
                        </div>
                    </div>

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar juego</button>
                    </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
