{% extends "logged_in.html" %}
	{% block style %}
	{% endblock %}

	{% block content %}

  <form class="form-horizontal" method="post" action="/event/new">
  <fieldset>

  <!-- Form Name -->
  <legend>Nuevo evento</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="event_name">Nombre del evento</label>
    <div class="col-md-4">
    <input id="event_name" name="event_name" type="text" placeholder="Nombre" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Fecha</label>
    <div class="col-md-4">
    <input id="date" name="date" type="text" placeholder="Fecha" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Horario de inicio</label>
    <div class="col-md-4">
    <input id="start_time" name="start_time" type="text" placeholder="Horario de inicio" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Horario de término</label>
    <div class="col-md-4">
    <input id="end_time" name="end_time" type="text" placeholder="Horario de término" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Lugar</label>
    <div class="col-md-4">
    <input id="venue" name="venue" type="text" placeholder="Lugar" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Precio</label>
    <div class="col-md-4">
    <input id="fee" name="fee" type="text" placeholder="Precio" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Cupos</label>
    <div class="col-md-4">
    <input id="limit" name="limit" type="text" placeholder="Cupos" class="form-control input-md">
    </div>
  </div>



  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Descripción</label>
    <div class="col-md-4">
      <textarea class="form-control" id="description" name="description"></textarea>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label">Juegos</label>
    <div class="col-md-4">
      {% for game in games %}
      <div class="radio">
        <label><input type="radio" name="game" value="{{game.name}}">
          {{game.name}}</label>
      </div>
      {% endfor %}
    </div>
</div>
<!--
  <div class="form-group">
    <label class="col-md-4 control-label" for="checkboxes">Juegos</label>
    <div class="col-md-4">
    <div class="checkbox">
      <label for="checkboxes-0">
        <input type="checkbox" name="games" id="games-0" value="Street Fighter V">
        Street Fighter V
      </label>
      </div>
    <div class="checkbox">
      <label for="checkboxes-1">
        <input type="checkbox" name="games" id="games-1" value="Ultimate Marvel vs. Capcom 3">
        Ultimate Marvel vs. Capcom 3
      </label>
  	</div>
    <div class="checkbox">
      <label for="checkboxes-1">
        <input type="checkbox" name="games" id="games-2" value="Plumet 2">
        Plumet 2
      </label>
  	</div>
    </div>
  </div>-->

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="event_name">URL Imagen</label>
    <div class="col-md-4">
    <input id="cover_image" name="cover_image" type="text" placeholder="http://ejemplo.com/ejemplo.jpg" class="form-control input-md">
    </div>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear evento</button>
  </div>
  </fieldset>
  </form>
  <br />


	{% endblock %}
