{% extends "logged_in.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user['username'] }}
                      {% if user['organizer'] %}<span class="label label-primary">Organizador</span>{% endif %}
                      {% if user['admin'] %}<span class="label label-danger">Administrador</span>{% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                          <img alt="User Pic" src="https://www.gravatar.com/avatar/{{ gravatar_hash }}?d=retro" class="img-circle img-responsive">
                        </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Nombre de usuario:</td>
                                        <td>{{ user['username'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre:</td>
                                        <td>{{ user['firstname'] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Apellido:</td>
                                        <td>{{ user['lastname'] }}</td>
                                    </tr>
                                    <tr>
                                        <tr>
                                            <td>Correo</td>
                                            <td>{{ user['email']}}</td>
                                        </tr>
                                    </tr>
                                </tbody>
                            </table>
                            {% if not user['organizer'] %}
                              <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Solicitud de organizador</a>
                            {% endif %}
                            <a href="/manage/users/selfremove" class="btn btn-danger">Dar cuenta de baja</a>
                        </div>
                    </div>
                </div>
                <!--<div class="panel-footer pull-right">
                  <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                  <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </div>-->

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Solicitud de organizador</h4>
        </div>
        <div class="modal-body">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci non magna dignissim congue sed eget nisl. Phasellus non velit convallis, ultricies sem vel, hendrerit massa. Donec non sem non leo finibus accumsan sed et nulla. Vivamus nibh purus, venenatis vel semper nec, gravida ut elit. Curabitur mattis dui sit amet auctor lacinia. Mauris vel lacinia nisi. Donec tortor ex, vulputate a diam eu, aliquet porta diam. Sed sollicitudin, elit vitae aliquet ultricies, odio elit consequat lorem, sed ultrices diam ligula in quam. Phasellus congue luctus dui sed blandit. Etiam eget lorem ante. Etiam a erat dolor. Integer id leo tincidunt, hendrerit lectus sit amet, venenatis metus. Fusce suscipit enim at fringilla viverra.
          </p>
        </div>
        <div class="modal-footer">
          <form action="/organizer_apply" method="post">
            <input type="hidden" name="username" value="{{user['username']}}">
            <input type="submit" class="btn btn-success" value="Aceptar" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
