{% if logged_in %}
   {% extends "logged_in.html" %}
{% else %}
   {% extends "login_form.html" %}
{% endif %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ranking {{game}}
                    </h3>
                </div>
                <div class="panel-body">
                   
                <table class="table">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in ranking %}
                    <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{place[0]}}</td>
                    <td>{{place[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
