{% if logged_in %}
   {% extends "logged_in.html" %}
{% else %}
   {% extends "login_form.html" %}
{% endif %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ranking
                    </h3>
                </div>
                <div class="panel-body">
                    {% for game in games %}
                    <div class="row">
						<div class="col-md-5">
							<a href="/ranking/{{game.name}}" class="pull-left">
								<img src="{{game.cover_image}}" alt="Imagen aleatoria" class="img-thumbnail img-responsive" />
							</a>
						</div>
						<div class="col-md-7">
							<div class="media-body">
								<h4><a href="/ranking/{{game.name}}">{{game.name}}</h4>
							</div>
						</div>
					</div>
                    <hr>
                    {%endfor%}
                </div>


            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">¿Cómo funciona el ranking?
                    </h3>
                </div>
                <div class="panel-body">
                    hola
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}
