{% extends "logged_in.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Registro de actividad
                    </h3>
                </div>
                <div class="panel-body">
                   
                <table class="table">
                <thead>
                    <tr>
                    <th>Fecha</th>
                    <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                    <tr>
                    <th scope="row">{{entry.timestamp}}</th>
                    <td>{{entry.msg}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
